@font-face {
  font-family: "Arzier";
  src: url("../assets/fonts/IS-ArzierVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Plasma";
  src: url("../assets/fonts/IS-PlasmaVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.trim-text-box {
  text-box: trim-start cap alphabetic;
}
