.markdown {
  @apply text-pretty;
}

.markdown a {
  @apply text-black;

  font-weight: 450;
  text-decoration: underline;
  text-decoration-color: var(--color-gray-200);
  text-decoration-thickness: 0.15em;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.1em;
}

.markdown code {
  @apply text-gray-900 bg-gray-200 rounded-xs font-mono;

  font-size: 0.9em;
  font-weight: 450;
  padding-block: 0.15em 0.05em;
  padding-inline: 0.4em;
}

.markdown strong {
  @apply text-gray-900;

  font-weight: 475;
  white-space: nowrap;
}

.markdown ul li {
  display: inline list-item;
}

.markdown ul li:not(:last-child)::after {
  @apply font-mono text-gray-500;

  content: " ; ";
}

.markdown ul li:last-child::after {
  content: ".";
}
