* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  cursor: pointer;
}

@media print {
  button {
    display: none;
  }
}

@media screen {
  :root {
    background-color: #242424;
    padding-block: 1cm;
  }

  .document {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.3275);
    transform-origin: top center;
  }

  .page {
    background-color: white;
  }
}
